
.player-info {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: start;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.player-info img.avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.control-button {
    padding: 0.5rem 1rem;
    background-color: #4b5563; 
    color: white;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.control-button:hover {
    background-color: #6b7280; 
}

.reset {
    background-color: #3b82f6; 
}

.reset:hover {
    background-color: #2563eb;
}
