body{
    padding: 0;
    margin: 0;
    background-color: rgb(15 23 42);
    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: 60px 60px;
    
}
/* //rgb(15 23 42) */