.containerr {
    display: flex;
    flex-direction: row;
    background-image: url('https://images.unsplash.com/photo-1604948501466-4e9c339b9c24?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    overflow: hidden; 
}

.signup-container {
    background-color: rgba(51, 51, 51, 0.9); 
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 40px;
    margin-right: 10%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box; 
}

h2 {
    text-align: center;
    margin: 0 0 20px; /* Adjust margins */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    box-sizing: border-box; 
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box; 
}

button:hover {
    background-color: #0056b3;
}
